@model MyContactPerson.Models.ContactKU

@{
    ViewBag.Title = "List Detail";
}

<h2>List Details</h2>

<div>
    <h4>Contact Info</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Phone</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCP)
        </dd>

        <dt>
            <label>Email</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCP)
        </dd>

        <dt>
            <label>Company</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCP)
        </dd>

        <dt>
            <label>Country</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryCP)
        </dd>

        <dt>
            <label>Zip Code</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCodeCP)
        </dd>

        <dt>
           <label>State</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatetCP)
        </dd>

        <dt>
            <label>City</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityCP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NameCP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
